@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

* {
    font-family: SimSun, FZLanTingHeiS-UL-GB, Helvetica, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    color: #222;
}

body {
    background-color: #FFFFFB;
    width: 1024px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    float: left;
    font-weight: 400;
    font-size: 40px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
}

#photo {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

#hi {
    clear: left;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}

address {
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
}

a, em {
    background-color: #41E0D0;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    color: #222;
}

a:hover {
    background-color: #fff;
}

em {
    font-style: normal;
}

.what {
    background-color: #41E0D0;
}

.where, .type {
    background-color: #FFFF03;
}

.topic {
    background-color: #9BD7D5;
}

.institute {
    background-color: #FFF5C3;
}

.who {
    background-color: #FF7260;
}

a:before {
    content: "\2023  ";
}

ol {
    font-size: 20px;
    font-weight: 400;
}

.title {
    font-weight: 400;
    background-color: transparent;
    color: #222;
}

.title:hover {
    background-color: transparent;
    color: #FF7260;
}

p {
    font-weight: 300;
    color: #444;
}

.type, .arxiv {
    font-size: 16px;
    font-weight: 400;
}

address {
    color: #444;
    padding-left: 20px;
}
