body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 64em; 
    /**border-left: 1px solid black;
    border-right: 1px solid black;**/
    color: black;
    font-family: SimSun, FZLanTingHeiS-UL-GB, Helvetica, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    font-size: 100%;
    font-weight: 200;
    line-height: 140%;
    color: #111; 
}

body {
  background-color: #fafafa;
  /*background-image:url(/images/gezi3.jpg);*/
}

pre {
    /**border: 1px dotted gray;**/
    background-color: #fffafa;
    color: #34495e;
    padding: 0.5em;
    border: 1px solid #bebab0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code {
    font-family: monospace;
}
/*h1 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #2980b9; 
}
h2 a { 
    text-decoration: none;
    color: #1abc9c; 
}*/
h1, h2, h3, h4, h5 { font-family: Times New Roman, KaiTi, FZQiTi-S14S, cursive;
                     font-weight: normal;
                     border-bottom: 1px solid black; }
/*h1, h3, h4, h5 { color: #f39c12; }
h2 {    color: #2ecc71; }*/
h1 {
        font-size: 150%;
}

h2 {
        font-size: 120%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

/***blockquote**/
blockquote {
font-family: Georgia, Adobe Kaiti Std, serif;
font-size: 16px;
/**font-style: italic;**/
margin: 0.25em 0;
padding: 0.25em 25px;
line-height: 1.45;
position: relative;
color: #483c32;
border-left:2px solid #2B65EC;
background: rgba(30,153,230,0.3);
}

blockquote cite {
color: #151b54;
font-size: 16px;
display: block;
margin-top: 5px;
text-align: right
}
 
blockquote cite:before {
content: "\2014 \2009";
}
/***blockquote**/
#footer {
        padding-top: 1em;
        font-size: 80%;
        color: gray;
        text-align: center;
        }
/***image**/
img{ 
  border:0; 
  margin:0; 
  padding:0; 
  max-width:60em; 
  width:expression(this.width>140?"140px":this.width); 
  height:expression(this.height>140?"  140px":this.height); 
  display: block;
  margin: 0 auto;
}


table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-spacing: 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
table th {
    padding: 3px 10px;
    /*background-color: white;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
table td {
    padding: 3px 10px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-family: Times New Roman, goudy old style, minion pro, bell mt, serif; 
  font-size: 110%;
  text-align: justify;
  width: 60em;
  margin: 2em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  *font-weight: bold;
  margin-bottom: 2em;
  text-align: center;
}

  .site .title a {
    font-size: 300%;
    color: #000;
    text-decoration: none;
    letter-spacing: 7px;
  }

  .site .title a:hover {
    color: #aaa;
  }

  .site .title a.extra {
    font-size: 80%;
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*------CONTAINER------*/


.container {
  width: 1000px;
  margin: 0 auto 50px auto;
}

/*------LIST------*/
.container ul {
  list-style-type: none;
}

.container li {
  float: left;
  position: relative;
  width: 230px;
  height: 187px;
  overflow: hidden;
}

.container li:hover {
  cursor: pointer;
}


/*------PARAGRAPH------*/
.container li p {
  position: absolute;
  color: transparent;
  font: 400 30px/187px 'Arvo', Helvetica, Arial, sans-serif;
  background: transparent;
  width: 230px;
  height: 187px;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
}

.container li p a:link{
    color: transparent;
}

.container li:hover p a:link{
    color: white;
}

.container li:hover p {
  color: white;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  margin: 0;
  padding: 0;
  outline: none;
}

/*------IMAGES------*/
.container img {
  width: 230px;
  height: 187px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.container li:hover img {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(0.501, 1);
  -o-transform: scale(0.501, 1);
  z-index: -3;
}

/*------MEDIA QUERIES------*/
@media screen and (max-width: 1000px) {
    .container {
    width: 840px;
  }
}

@media screen and (max-width: 840px) {
    .container {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
    .container {
    width: 230px;
  }
}

/*------CLEARFIX------*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}
