---
layout: default
title: Zhen-Peng Xu
---

<div id="home">
  
    {% for category in site.categories %}
    <h1><span style="font-variant: small-caps;"><font size="6">{{ category | first }}</font> <font size="-1" color="blue">{{ category | last | size }}</font></span></h1>
    <ul class="arc-list">
    {% for post in category.last %}
        <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    {% endfor %}
 
</div>


